@import '@/styles/_mixins.scss';

.section {
  @include section-padding;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.inner {
  @include container;
  @include flex-col;
  align-items: center;
  gap: 80px;
}

.textGroup {
  @include flex-col;
  gap: 24px;
  text-align: center;
  max-width: 640px;
}

.title {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 0.9;
  color: #000000;
}

.description {
  margin: 0;
  font-size: 1.8rem;
  color: #6f6f6f;
  line-height: 1.4;
  letter-spacing: -0.005em;
}

.player {
  width: 100%;
  @include flex-center;
}

.playerFrame {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 892px;
  border-radius: 30px;
  aspect-ratio: 223/126;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.playButton {
  --play-button-position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include mobile {
  .inner {
    gap: 40px;
  }

  .title {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  .description {
    font-size: 1.4rem;
  }

  .playerFrame {
    border-radius: 18px;
  }
}
