@import '@/styles/_mixins.scss';

.section {
  @include section-padding;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.inner {
  @include container;
  @include flex-col;
  align-items: center;
  gap: 120px;
}

.textGroup {
  @include flex-col;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 22px;
  border-radius: 1000px;
  background-color: #dfecc6;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.35px;
  color: #000000;
}

.title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.03em;
  color: #000000;
}

.description {
  max-width: 560px;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #6f6f6f;
}

.visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 120px 0 0;
}

.device {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 643px;
  /* 레이어를 독립된 요소로 처리 */
  isolation: isolate;

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: -46px;
    transform: translateX(-50%);
    width: min(1440px, 100vw);
    height: 643px;
    // height: clamp(420px, 44vw, 643px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 29.53%,
      rgba(255, 255, 255, 0.5) 55.93%,
      #fff 77.25%
    );
    pointer-events: none;
  }
}

.deviceFrame {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: min(907px, 100%);
  border-radius: 30px;
  padding: 24px 18px;
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 40px 120px rgba(0, 0, 0, 0.25);
  /* 박스 섀도우 마스킹 */
  mask-image: linear-gradient(180deg, #000 0%, #000 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(180deg, #000 0%, #000 75%, rgba(0, 0, 0, 0) 100%);
}

.picture {
  display: block;
  width: 100%;
}

.deviceImage {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

@include mobile {
  .inner {
    gap: 120px;
  }

  .badge {
    font-size: 1.2rem;
    padding: 10px 18px;
  }

  .title {
    font-size: 2.8rem;
    letter-spacing: -0.02em;
  }

  .description {
    font-size: 1.4rem;
  }

  .visual {
    padding: 40px 0 0;
  }

  .deviceFrame {
    padding: 16px 12px;
    border-radius: 24px;
  }

  .deviceImage {
    border-radius: 18px;
  }
}
