@import '@/styles/_mixins.scss';

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 260px;
  border-radius: 30px;
  background-color: #eee;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 460 / 436;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.cardBody {
  padding: 35px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mobile {
    padding: 24px 20px;
  }
}
