/* Global Styles */

:root {
  --color-wireframe-bg: #f4f4f4;
  --color-wireframe-border: #d9d9d9;
  --color-text-base: #111;

  /* Font Style */
  --primary-font:
    var(--font-pretendard), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HTML, BODY 초기화 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--color-text-base);
  background-color: #ffffff;
}

/* HTML 폰트 사이즈 설정 */
html {
  font-size: 62.5%;
}

/* HTML 높이 설정 */
html {
  height: 100%;

  /* 스크롤 동작 설정 */
  html {
    scroll-behavior: smooth;
  }

  /* BODY 최소 높이 설정 */
  body {
    min-height: 100vh;
  }

  /* 트랜지션 설정 */
  a,
  button {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
  }

  /* 텍스트 스타일 초기화 */
  a,
  button,
  span {
    letter-spacing: 0;
  }

  /* 링크 스타일 초기화 */
  a {
    color: inherit;
    text-decoration: none;
  }

  /* 버튼 스타일 초기화 */
  button {
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* 제목 스타일 설정 */
  h1 {
    font-size: min(5vw, 60px);
  }

  h2 {
    font-size: 2.7rem;
  }

  /* 반응형 이미지, 비디오 */
  img,
  video {
    display: block;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  /* 셀렉트 박스 스타일 설정 */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url("/assets/images/arrow-down.svg"); */
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 20px 20px;
  }

  /* 웹 접근성 관련 스타일 */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
